.Music {
    color: var(--gray);
    background-color: var(--white);
}

.Music h1 {
    color: var(--base-color);
}

.Music__grid {
    margin-top: 12px;
    display: grid;
    grid-template-columns: 560px 280px 1fr;
    grid-template-rows: 158px 1fr;
}

.Music__grid > li {
    display: block;
}

.Music__grid > li:first-child {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: auto;
}

.Music__grid > li:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.Music__grid > li:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.Music__grid > li:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.Music__grid > li:nth-child(5) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
