.Profile {
    color: var(--white);
    background-color: var(--base-color);
}

.Profile h1 {
    color: var(--white);
}

.Profile section {
    margin-top: 24px;
}

.Profile section > p {
    margin-top: 12px;
}
