.Portfolio {
    color: var(--gray);
    background-color: var(--white);
}

.Portfolio h1 {
    color: var(--base-color);
}

.Portfolio__carousel {
    margin: 12px auto 0;
    width: 800px;
    overflow-x: hidden;
}

.Portfolio__carousel > ol {
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    transition: transform 1.5s ease-in-out;
}

.Portfolio__carousel > ol > li,
.Portfolio__carousel > ol > li > a {
    display: block;
}

.Portfolio__carousel > ol > li > a > img {
    max-width: none;
}

.Portfolio__carouselNav {
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 12px;
}

.Portfolio__carouselNav > li {
    display: inline-block;
    margin-left: 4px;
}

.Portfolio__carouselNav > li > button {
    border: none;
    background: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background-color: var(--assort-color);
    border-radius: 8px;
}

.Portfolio__carouselNav > li > button:focus {
    outline: 2px dotted var(--assort-color);
}

.Portfolio__carouselNav > li > button.-active {
    background-color: var(--base-color);
}
